{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        /admin/quizz/create
    </h1>
    <p>
        Your category doesn't exist <br>
        <a href="{{ path('admin_category_create') }}">create one</a>
    </p>
    <div class="">
        {{ form(form) }}
    </div>

    <h3>Liste des quizzs</h3>

    {% for quizz in quizzs %}
        <p>
            <a href="{{ path('admin_quizz_settings', {'id': quizz.id}) }}">{{ quizz.name }}</a>
        </p>
    {% endfor %}

{% endblock %}
