{% extends 'base.html.twig' %}

{% block body %}
    <p>
        {% for answer in question.answers %}
            <p>
                {{ answer.name }} - <a href="">delete</a>
            </p>
        {% endfor %}
    </p>
{% endblock %}
