{% extends 'base.html.twig' %}

{% block body %}
    <p>
        Welcome home admin page !
    </p>
    <p>
        <a href="{{ path('admin_quizz') }}">Move to admin quizz page</a>
    </p>
{% endblock %}
